<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v24.1, Version=24.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v24.1, Version=24.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v24.1, Version=24.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v24.1, Version=24.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v24.1, Version=24.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="Office2010Blue" customThemeAssemblies="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings accessibilityCompliant="false" bootstrapMode="" doctypeMode="Html5" rightToLeft="false" checkReferencesToExternalScripts="true" protectControlState="true" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="" />
    <resources>
      <add type="ThirdParty" />
      <add type="DevExtreme" />
    </resources>
  </devExpress>
  <appSettings>
    <!-- Flappy Bird Game Settings -->
    <add key="GameTitle" value="Flappy Bird Championship" />
    <add key="MaxScoreEntries" value="50" />
    <add key="SessionTimeout" value="60" />
    <!-- DevExpress Settings -->
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="DXEnableCallbackCompression" value="true" />
    <add key="DXEnableResourceCompression" value="true" />
    <add key="DXEnableResourceMerging" value="true" />
  </appSettings>
  <connectionStrings>
    <!-- Veritabanı bağlantı stringi (isteğe bağlı) -->
    <!--<add name="FlappyBirdDB" connectionString="Data Source=server;Initial Catalog=FlappyBirdDB;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <!-- Compilation Settings -->
    <compilation targetFramework="4.8" tempDirectory="" />
    <!-- Runtime Settings -->
    <httpRuntime targetFramework="4.8" maxRequestLength="51200" requestValidationMode="4.5" enableVersionHeader="false" executionTimeout="110" />
    <!-- Session Settings -->
    <sessionState mode="InProc" cookieless="false" regenerateExpiredSessionId="false" timeout="60" />
    <httpCookies httpOnlyCookies="true" />
    <!-- Authentication -->
    <authentication mode="None" />
    <!-- Authorization -->
    <authorization>
      <allow users="*" />
    </authorization>
    <!-- Pages and Controls -->
    <pages enableSessionState="true" enableViewState="true" enableEventValidation="true" validateRequest="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add assembly="DevExpress.Web.v24.1, Version=24.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web" tagPrefix="dx" />
      </controls>
      <namespaces>
        <add namespace="DevExpress.Web" />
      </namespaces>
    </pages>
    <!-- Custom Errors -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx">
      <error statusCode="404" redirect="~/Error.aspx" />
      <error statusCode="500" redirect="~/Error.aspx" />
    </customErrors>
    <!-- Globalization -->
    <globalization culture="tr-TR" uiCulture="tr-TR" />
    <!-- HTTP Modules (Classic Mode) -->
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v24.1" name="ASPxHttpHandlerModule" />
    </httpModules>
    <!-- HTTP Handlers (Classic Mode) -->
    <httpHandlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v24.1" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v24.1" verb="GET,POST" path="DX.ashx" validate="false" />
    </httpHandlers>
    <!-- Trust Level -->
    <trust level="Full" />
    <!-- Trace -->
    <trace enabled="false" pageOutput="false" requestLimit="40" localOnly="false" />
  </system.web>
  <!-- IIS 7+ Integrated Mode -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <!-- Default Document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <!-- HTTP Modules (Integrated Mode) -->
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v24.1" name="ASPxHttpHandlerModule" preCondition="managedHandler" />
    </modules>
    <!-- HTTP Handlers (Integrated Mode) -->
    <handlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v24.1" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v24.1" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add name="DXR.axd" path="DXR.axd" verb="*" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v24.1" preCondition="integratedMode" />
    </handlers>
    <!-- Security -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    <!-- Static Content -->
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <!-- URL Rewrite (Optional) -->
    <!--<rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>-->
    <!-- HTTP Response Headers -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!-- Runtime Assembly Bindings -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Web.v24.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-24.1.7.0" newVersion="24.1.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v24.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-24.1.7.0" newVersion="24.1.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 6FA4E6F8-5477-4AC1-9FBE-8ACA9BBDB839-->